.header {
    background-image: url("../images/headerBackground.jpg");
    text-shadow: 2px 2px 3px teal;
    border-bottom: 3px solid black;
    text-align: center;
}
h1 {
    font-size: 45px;
    font-weight: bold;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body {
    background-image: url("../images/croppedBody.png");
    font-family: Arial, Helvetica, sans-serif;
}
.card {
    border: 3px solid black;
    margin: 5px;
    opacity: 1;
}
button {
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: center;
    width: 90%;

    
}